.password-strength {
    margin-top: 10px;
  }
  
  .strength-0 {
    color: red;
  }
  
  .strength-1 {
    color: orange;
  }
  
  .strength-2 {
    color: yellow;
  }
  
  .strength-3 {
    color: green;
  }
  
  .strength-4 {
    color: darkgreen;
  }
  